<!--div class="row justify-content-center align-items-center p-4"-->
<div class="row p-4 justify-content-md-center align-items-md-center justify-content-xs-center align-items-xs-center">
  <div class="col-lg-4 col-md-6 col-xs-8 text-center mt-4">
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12 col-sm-12 text-center mt-4 row justify-content-center align-items-center introduce">
      <div class="trans3 px-1">Hi, <a href="/about" title="clicking to about ardidi"></a></div>
      <div class="trans-1 px-1">I am a</div>
      <div class="trans2 px-1">Software Developer</div>
      <div class="trans-2 px-1">currently based in Taipei.</div>
      <div class="trans1 px-1">Work</div>
      <div class="trans-3 px-1">to creating</div>
      <div class="trans-1 px-1">interactive applications</div>
      <div class="trans3 px-1">and</div>
      <div class="trans1 px-1">amazing experiences</div>
      <div class="trans-2 px-1">on the web.</div>
      <div class="trans-3 px-1">Navigate to</div>
      <div class="trans2 px-1"><a href="/projects" title="clicking to project.">my projects</a></div>
      <div class="trans-1 px-1">and</div>
      <div class="trans2 px-1">feel free to</div>
      <div class="trans1 px-1">contact me by <a href="mailto:{{site.author.email}}">email <i class="fas fa-envelope fa-1x"></i></a>.</div>
  </div>

</div>